html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background: linear-gradient(180deg, #A1FCDF, #FCEFEF);
}

/**The header*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 5px -5px black;
    font-family: 'Artifika', serif;
    height: 15vh;
    text-align: center;
    background-color: #7FD8BE;
}
#header {
    padding-left: 1.5rem;
}

/**The navigation bar*/
.nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.nav {
    padding-right: 3rem;
}
.nav li {
    flex: 1;
    list-style: none;

}
.nav a {
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.3rem;
    transition: all 0.5s ease-out;
    color: rgb(26, 21, 21);  
}
.nav a:hover {
    color: #FCEFEF;
    background: rgba(3, 24, 44, 0.5);
}

/**The about secion*/
main {
    margin-top: 7rem;
}

#about {
    margin: auto;
    min-height: 25vh;
    width: 50vw;
    font-size: 1.5rem;
    font-family: 'Cormorant Upright', serif;
}

#about h3 {
    padding: 2rem;
    padding-bottom: 1rem;
}

#closer {
    padding-bottom: 2rem;
}

hr {
    margin-bottom: 2rem;
}

/**The poems Section*/
.poems {
    margin: 4rem;
    font-family: 'Cormorant Upright', serif;
    font-size: 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
}
.poem {
    flex: 1;
    align-self: stretch;
    margin: 1rem;
    min-width: 20vw;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 15px -6px black;
    transition: box-shadow 1s 0.1s;
}
.poem img {
    padding-top: 1rem;
    width: 7rem;
}
.poem p {
    padding: 0 2rem;
    font-size: 1.2rem;
}
.poem p.author {
    font-weight: 900;
}
.poem p.title {
    font-weight: 400;
}
.poem:hover {
    cursor: pointer;
    box-shadow: 0px 9px 30px -2px black;
    z-index: 5;
}

/**Lines section*/
#lines {
    font-family: 'Cormorant Upright', serif;
    margin: auto;
    font-size: 1.5rem;
    max-width: 70vw; 
}

.lines-div {
    padding: 2rem;
}

/**The buttons*/
button {
    padding: 1rem;
    margin: 1rem;
    background-color: #A1FCDF;
    border: none;
    border-radius: .3rem;
    transition: all 0.5s ease-out;
}
button:hover {
    cursor: pointer;
    color: #FFFFFC;
    background-color: rgba(3, 24, 44, 0.9);
}
button.reset {
    font-size: 1rem;
}
/**The search bar*/
.search-div {
    font-family: 'Cormorant Upright', serif;;
}
.search-div label {
    font-size: 1.5rem;
    font-weight: 600;
}
input[type=text], input[type=password] {
    padding: 1rem;
    border: none;
    outline: none;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    border-radius: .7rem;
    font-size: 1rem;
    transition: all 0.5s ease-in;
}
input[type=text]:focus, input[type=password]:focus {
    background: rgba(3, 24, 44, 0.9);
    color: white;
}
button[type=submit] {
    font-size: 1rem;
}

/**The login form*/
/**Center the login form*/
.login-form {
    margin: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cormorant Upright', serif;
    display: none;
}
.form {
    background-color: #7FD8BE;
    width: 30vw;
    border-radius: .7rem;
    padding: 1rem 2rem;
    box-shadow: 0px 9px 30px -2px black;
    font-size: 1.2rem;
}
h1.title {
    font-size: 2rem;
}
.inputContainer {
    position: relative;
    width: 90%;
    height: 2.5rem;
    margin-bottom: 2rem;
}
.input {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    border-radius: .5rem;
    padding: 0 1.2rem;
    z-index: 1;
}
#password, #username {
    margin-top: 1.5rem;
}
.label {
    margin: 0 2rem;
    font-family: Arial, Helvetica, sans-serif;
}